body, .jumbotron {
  background-color: #464646 !important;
  color: #d4d4d4 !important;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('Images/rashid-khreiss-V4ukKfLR8h0-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.jumbotron, .victims-list, footer{
  padding-top: 2% !important;
  padding-bottom: 2% !important;
}

.jumbotron, .background-info, .victims-list, footer {
  font-family: 'Fredericka the Great', cursive;
}

.background-info {
  background-color:  #d4d4d4;
  color: #CC0000;
  opacity: 0.75;
  border-radius: 5px;
  margin: 10vh 5vw 10vh 5vw;
  font-size: 3.2vh;
}

@media only screen and (max-width: 1200px) {
  .background-info {
    font-size: 2.2vh;
  }
}

#background-info-text {
  padding: 2.5vh 10vw 2.5vh 10vw;
}

footer {
  background-color: #282828;
  text-align: center;
  font-size: 1em;
}

@media only screen and (max-width: 1200px) {
  footer {
    font-size: 0.5em;
  }
}